// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em; // currently ems cause chrome bug misinterpreting rems on body element
  line-height: 1.6;
  font-weight: 400;
  font-family: $font-family;
  color: $font-color;
  background-color: $secondary-color;
}

strong {
  color: $primary-color;
}

blockquote {
  background-color: rgba(255,255,255,.2);
  width: 100%;
  padding: 10px;
  margin: 0px;
  border-radius: $global-radius;
}

//Navigation
//-----------------------------------------------------------------

.navbar-spacer {
  height: 0rem;
}

nav {
  background-color: $primary-color;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  border-top: 1px $dark-tan solid;

  #icon {
    width: 4rem;
    position: absolute;
    bottom: 0;
    font-size: 3rem;
    line-height: 4rem;
    text-decoration: none;
    margin-left: 0px;
    color: $primary-color;
    background-color: $secondary-color;
    border-radius: 20px;
    text-align: center;
  }

  .container {
    padding: 0px;
  }

  .hide-on-mobile {
    display: none;
  }

  img {
    height: 6rem;
    display: block;
  }

  .text-box {
    height: 6rem;
    margin-left: -40px;
    z-index: 99;

    h4 {
      line-height: 3rem;
      margin-bottom: 0rem;
    }
  }

  .navbar-list{
    list-style: none;
    border-left: 0px $dark-tan solid;
    margin-bottom: 4rem;
  }

  .navbar-item {
    display: none;
    float: none;
    margin-bottom: 0px;

    &:first-child{
      position: fixed;
      bottom: 0px;
      right: 0px;
      display: block;
    }
  }

  .navbar-show {
    display: block;
  }

  .button {
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;
    color: $light-tan;
    font-size: 1.5rem;
    padding: 0px 15px;
    border-bottom: 1px $dark-tan solid;
    text-align: left;
  }

  .button:hover {
    background-color: $impact-color;
    color: $secondary-color;
  }

  #donate-button {
    background-color: $impact-color;
    color: $secondary-color;
    border-right: 0px;
  }

  #donate-button:hover{
    background-color: $primary-color;
    color: $light-tan;
  }

  .dropdown-list {
    list-style: none;
    position: relative;
    background-color: $primary-color;
    margin: 0px;
  }

  .dropdown-item {
    margin: 0px;

    .button {
      text-align: left;
      text-indent: 25px;

    }
  }

}

//Banners
//--------------------------------------------------

.banner {
  background-color: $primary-color;
  color: $light-tan;
  text-align: center;
  padding: 20px 10px;
}

.banner-spacer {
  height: 6rem;
  display: none;
}

// Hero
//--------------------------------------------------

.hero-image {
  background-image: url("../images/mobile-hero.jpg");
  background-position: bottom;
  background-size: cover;
  padding: 0px;

  h1 {
    font-weight: 600;
    font-size: 5rem;
    text-align: center;
  }

  .hero-mask {
    background-color: rgba(255,255,255,.8);
    padding: 60px 0px;
  }

  .hero-text {
    text-align: center;
    padding: 20px 0px;
    color: $secondary-color;
  }

  .button {
    margin-bottom: 0px;
    border: 0px;
    color: $light-tan;
    font-size: 1.5rem;
    padding: 0px 15px;
  }

  .button:hover {
    background-color: $impact-color;
    color: $secondary-color;
  }

  #donate-button {
    background-color: $impact-color;
    color: $secondary-color;
  }

  #donate-button:hover{
    background-color: $primary-color;
    color: $light-tan;
  }
}

// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: $link-color;
  font-weight: 600;
  &:hover {
    color: darken($link-color, 5%);
  }
}

// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid $light-tan;
}

// Larger than tablet
//--------------------------------------------------
@media ($bp-larger-than-tablet) {

  .navbar-spacer {
    height: 6rem;
  }

  nav {
    background-color: $secondary-color;
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
    width: 100%;
    z-index: 99;
    border-top: 0px;
    border-bottom: 1px $dark-tan solid;

    img {
      height: 6rem;
      display: block;
    }

    .text-box {
      height: 6rem;
      margin-left: -40px;
      z-index: 99;

      h4 {
        line-height: 3rem;
        margin-bottom: 0rem;
      }
    }

    .navbar-list{
      list-style: none;
      border-left: 1px $dark-tan solid;
    }

    .navbar-item {
      float: right;
      margin-bottom: 0px;
      display: block;

    }

    .button {
      height: 6rem;
      line-height: 6rem;
      margin-bottom: 0px;
      border: 0px;
      border-radius: 0px;
      color: $light-tan;
      font-size: 1.5rem;
      padding: 0px 15px;
      border-left: 1px $dark-tan solid;
    }

    .button:hover {
      background-color: $impact-color;
      color: $secondary-color;
    }

    #donate {
      background-color: $impact-color;
      color: $secondary-color;
      border-right: 0px;
    }

    #donate:hover{
      background-color: $primary-color;
      color: $light-tan;
    }

    #active {
      background-color: $primary-color;
    }

    .dropdown-list {
      display: none;
      list-style: none;
      position: fixed;
      background-color: $primary-color;
      margin: 0px;
    }

    .dropdown-item {
      margin: 0px;

      .button {
        width: 100%;
        text-align: left;
        border: 0px;
      }
    }

    .navbar-item:hover {
      .dropdown-list {
        display: block;
      }
    }
  }

  .hero-image {
    background-image: url("../images/hero.jpg");
    background-position: bottom;
    background-size: cover;
    padding: 0px;

    h1 {
      font-weight: 600;
      font-size: 7rem;
      text-align: center;
    }
  }
}
