// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em; // currently ems cause chrome bug misinterpreting rems on body element
  line-height: 1.6;
  font-weight: 400;
  font-family: $font-family;
  color: $font-color;
  background-color: $secondary-color;
}

h1 {
  text-align: center;
}


nav {
  background-color: $secondary-color;

  .navbar-list{
    list-style: none;
    border-left: 1px $dark-tan solid;
  }

  .navbar-item {
    float: right;
    margin-bottom: 0px;
  }

  .button {
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;
    color: $light-tan;
    font-size: 1.5rem;
    padding: 0px 15px;
    border-left: 1px $dark-tan solid;
  }

  .button:hover {
    background-color: lighten($secondary-color, 10%);
  }

  #donate {
    background-color: $impact-color;
    color: $secondary-color;
    border-right: 0px;
  }

  #active {
    background-color: $primary-color;
  }

  .dropdown-list {
    display: none;
    list-style: none;
    position: fixed;
    background-color: $primary-color;
    margin: 0px;
  }

  .dropdown-item {
    margin: 0px;

    .button {
    width: 100%;
    text-align: left;
  }
  }

  .navbar-item:hover {
    .dropdown-list {
    display: block;
  }
}
}

.banner {
  background-color: $primary-color;
  color: $light-tan;
  text-align: center;
  h2 {
    margin: 0px;
    padding: 10px 0px;
  }
}

.hero-image {
  background-image: url("../images/hero.jpg");
  background-position: bottom;
  background-size: cover;
  padding: 0px;
}

.hero-mask {
  background-color: rgba(255,255,255,.7);
  padding: 60px 0px;
}

.hero-text {
  text-align: center;
  padding: 20px 0px;
  color: $secondary-color;
}

// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: $link-color;
  &:hover {
    color: darken($link-color, 5%);
  }
}

// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid $light-tan;
}
